<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg     ">
        <div class="container-fluid">
            <a class="navbar-brand" title="colege name" href="#">SGBIT</a>
            <div class="center">
                <div class="nav-item center list-group-item m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle m-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <a class="nav-link" href="#" id="user">Guest</a></div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../Components/home_page.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/admission.html">Admission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/get_1_fees_details.html">Fees
                                Payment</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item d-none" id="login_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page"
                                href="../Components/login.html">Login</a>
                        </li>
                        <li class="nav-item d-none" id="sign_up_nav">
                            <a class="nav-link" href="../Components/sign_up.html">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <!-- <li class="nav-item" id="login_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li> -->
                        <li class="nav-item" id="logout_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <div class="container-fluid main_body glass_blur ">
        <h1 class="text-center" style="font-family:  Georgia, 'Times New Roman', Times, serif;">Admission</h1>
        <hr style="border: 1px solid rgb(0, 0, 0);" class="w-100">

        <div class="container center flex-wrap  gap-3  ">


            <div class="box step-1 center-2 rounded  p-2 ">
                <div class="center-2 border rounded box_in p-2 w-100  h-75">
                    <h2> Apply for Admission</h2>
                    <h6>Admission open for FY 2024-25</h6>
                    <p>First Year entry</p>

                </div>
                <div class="box_in_2 center-2 border w-100  border-dark m-2 rounded m-1">

                    <label for="apply"><small>Click Here to apply</small></label>

                    <span class="text-center">
                        <a class="text-dark" href="../Components/admissionFirst.html">
                            <button id="apply" class="btn btn-sm btn-warning text-dark m-3">
                                <b>

                                    Apply
                                </b>
                            </button>
                        </a>
                    </span>
                </div>
            </div>


            <div class="box step-1 center-2 rounded p-2">
                <div class="center-2 border rounded box_in p-2  w-100   h-75">
                    <h2> Apply for Admission</h2>
                    <h6>Admission open for FY 2024-25</h6>
                    <p> Lateral Entry </p>
                </div>
                <div class="box_in_2 center-2 border w-100  border-dark m-2 rounded m-1">

                    <label for="apply"><small>Click Here to apply</small></label>
                    <span class="text-center ">
                        <a href="../Components/admissionDiploma.html">
                            <button id="apply" class="btn btn-sm btn-warning text-dark m-3">
                                <b>

                                    Apply
                                </b>
                            </button>
                        </a>
                    </span>
                </div>
            </div>

            <div class="box step-1 center-2 rounded p-2">
                <div class="center-2 border rounded box_in p-2 w-100   h-75">
                    <h2> Admission Status</h2>
                    <h6>Check Admission status</h6>
                    <p>Application status</p>

                </div>
                <div class="box_in_2 center-2 border w-100  border-dark m-2 rounded m-1">

                    <label for="apply"><small>Click Here to Check</small></label>
                    <span class="text-center">
                        <a href="../Components/admissionStatus.html">

                            <button id="apply" class="btn btn-sm btn-warning text-dark m-3"><b>

                                    Check
                                </b>
                            </button>
                        </a>
                    </span>
                </div>
            </div>





            <div class="box step-1 center-2 rounded p-2">
                <div class="center-2 border rounded box_in p-2 w-100    h-75">
                    <h2> Admission Details</h2>
                    <h6>Admission open for FY 2024-25</h6>
                    <p>First Year/ Lateral entry</p>

                </div>
                <div class="box_in_2 center-2 border w-100  border-dark m-2 rounded m-1">

                    <label for="apply"><small>Click Here to apply</small></label>
                    <span class="text-center">
                        <a href="#">

                            <button id="apply" class="btn btn-sm btn-warning text-dark m-3">
                                <b>

                                    Get
                                </b>
                            </button>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    <!-- <script defer src="../MyScripts/main.js"></script> -->
</body>

</html>