<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
    <style>
        .photo {
            min-width: 300px;

        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" title="colege name" href="#">SGBIT</a>
            <div class="center">
                <div class="nav-item center list-group-item m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle m-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <a class="nav-link" href="#" id="user">Guest</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../Components/home_page.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/admission.html">Admission</a>
                        </li>
                        <li class="nav-item" id="logout_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="login_nav">
                            <a class="nav-link d-none" aria-disabled="true" aria-current="page"
                                href="../Components/login.html">Login</a>
                        </li>
                        <li class="nav-item d-none" id="sign_up_nav">
                            <a class="nav-link" href="../Components/sign_up.html">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <div class="container-fluid main_body glass_blur" id="recipt">
        <form id="fees" class="form-control m-0 p-1 row g-3 border ">

            <div class="d-flex p-1 flex-wrap gap-3 center">
                <div
                    class="photo flex-shrink-1  center  border d-flex align-items-center flex-column  justify-content-center gap-2 ">
                    <img src="../images/QR.png" id="qrCode" alt="QR_code">
                    <label>Scan To Pay</label>
                </div>

                <div class="col p-1 ">

                    <div class="row mt-2 ">
                        <div class="col-md-4">
                            <label for="UTR_No" class="form-label">UTR No / Challan No</label>
                            <input type="text" class="form-control" id="UTR_No" placeholder="1234-5678-9012"
                                pattern="[0-9]{12}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="uploadFile" class="form-label">Upload payment Screenshot </label>
                            <input type="file" class="form-control" id="uploadFile" placeholder="1234-5678-9012"
                                pattern="[0-9]{12}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="stuYear" class="form-label">Select Year</label>
                            <select class="form-select" id="stuYear" required>
                                <option selected disabled value="">Choose...</option>

                                <option>First</option>
                                <option>Second</option>
                                <option>Third</option>
                                <option>Fourth</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="branch" class="form-label">Select Branch</label>
                            <select class="form-select" id="branch" required>
                                <option selected disabled value="">Choose...</option>

                                <option>Computer Science and Engg</option>
                                <option>Electronics and Communication</option>
                                <option>Electrical Engg</option>
                                <option>Civil</option>
                                <option>Airtificial Inteligence</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="insta_no" class="form-label">Select Installment No</label>
                            <select class="form-select" id="insta_no" required>
                                <option selected disabled value="">Choose...</option>

                                <option>1</option>
                                <option>2</option>

                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="tutionFees" class="form-label">Tution Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="tutionFees" 
                                required >
                        </div>
                        <div class="col-md-4">
                            <label for="collegeFees" class="form-label">College Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="collegeFees" 
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="vtuFees" class="form-label">VTU Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="vtuFees" 
                                required>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="examFees" class="form-label">Exam Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="examFees" 
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="hostelFees" class="form-label">Hostel Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="hostelFees" 
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="otherFees" class="form-label">Other Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="otherFees" 
                                required>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="totalFees" class="form-label">Total Fees</label>
                            <input type="number" min="0" value="0" class="form-control" id="totalFees" 
                                readonly required>
                        </div>

                        <div class="col-md-4">
                            <label for="adddate" class="form-label">Date</label>
                            <input id="adddate" class="form-control">
                        </div>
                        <div class="col-md-4 mt-4 center">
                            <button class="btn btn-danger m-2" id="calculate">Calculate Total Fees</button>
                        </div>

                    </div>

                    <div class="col-md-4 mt-4 center">
                        <button class="btn btn-danger m-2" id="print">Print Fees</button>
                    </div>
                </div>

            </div>
            <hr>
            <div class="center-2 p-2  ">
                <label for="updateFees"> <span class="text-danger">NOTE : </span>First submit details and Update it
                </label>
                <div class="center">
                    <button type="submit" class=" btn-outline-warning btn m-2">Submit</button>
                    <button id="updateFees" class=" btn-outline-warning btn m-2">update</button>
                </div>
            </div>
            <hr>
        </form>

    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/jquery/dist/jquery.session.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<!-- <script src="../MyScripts/main.js"></script>
<script src="../MyScripts/fees.js"></script> -->

</html>