<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
    <style>
        #displayImageContainer {

            width: 150px;
            height: 180px;
            border: 1px solid black;
            object-fit: contain;
            overflow: hidden;
            padding: 3px;
        }

        .photo {
            /* background-color: red; */
            width: 300px;
            height: 330px;
            overflow: hidden;
        }

        .image {

            margin: 10px auto;
            max-width: 200px;
        }

        button {
            overflow: hidden;
        }

        input {
            min-width: 200px;
        }

        .student {
            padding: 0 auto;
            margin: 10px auto;
        }

        .col-md-6 {
            margin-top: 16px;
        }

        .col-md-4 {
            margin-top: 16px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" title="colege name" href="#">SGBIT</a>
            <div class="center">
                <div class="nav-item center list-group-item m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle m-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg><a class="nav-link" href="#" id="user">Guest</a></div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../Components/home_page.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/admission.html">Admission</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="login_nav">
                            <a class="nav-link d-none" aria-disabled="true" aria-current="page"
                                href="../Components/login.html">Login</a>
                        </li>
                        <li class="nav-item d-none" id="sign_up_nav">
                            <a class="nav-link" href="../Components/sign_up.html">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item" id="logout_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div class="container-fluid center m-0  student main_body glass_blur">

        <form id="stuDetails_1" class="form-control w-100  row g-3  border ">


            <h2 class="text-center ">Student Details</h2>
            <hr class="hr">


            <div class="d-flex p-1 flex-wrap center gap-3  ">

                <div class="photo center-2 border ">

                    <div id="displayImageContainer" class=" image rounded"></div>
                    <button class="btn btn-sm w-75">
                        <input type="file" required class="btn-sm  " accept="image/*" id="imageInput"
                            onchange="displayImage(event)">

                    </button>

                </div>


                <div class="col p-1 ">

                    <div class="row mt-2  ">
                        <div class="col-md-6 ">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Sushant" required>
                        </div>
                        <div class="col-md-6 ">
                            <label for="middleName" class="form-label">Middle name</label>
                            <input type="text" class="form-control" id="middleName" placeholder="Mallappa" required>
                        </div>

                    </div>
                    <div class="row mt-2  ">
                        <div class="col-md-6 ">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Hakare" required>
                        </div>
                        <div class="col-md-6 ">
                            <label for="stuPhone" class="form-label">Phone</label>
                            <input type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control" id="stuPhone"
                                placeholder="123-456-7890" required>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label for="fatherName" class="form-label">Father Name</label>
                            <input type="text" class="form-control" id="fatherName" placeholder="father name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="fatherPhone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" id="fatherPhone"
                                placeholder="123-456-7890" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label for="motherName" class="form-label">Mother Name</label>
                            <input type="text" class="form-control" id="motherName" placeholder="mother name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="motherPhone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" id="motherPhone"
                                placeholder="123-456-7890" required>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row mt-2">

                <div class="col-md-4">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" id="gender" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" required>
                </div>
                <div class="col-md-4">
                    <label for="bloodGroup" class="form-label">Blood Group</label>
                    <input type="text" class="form-control" id="bloodGroup" required>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-md-6">
                    <label for="aadhar" class="form-label">Aadhar Number</label>

                    <input type="aadhar" class="form-control" id="aadhar" pattern="[0-9]{4}[0-9]{4}[0-9]{4}"
                        placeholder="1234-1234-1234" aria-describedby="inputGroupPrepend2" required>

                </div>
                <div class="col-md-6">
                    <label for="cast" class="form-label">Cast</label>
                    <input type="text" class="form-control" id="cast" placeholder="religion" name="cast" required />
                </div>
            </div>

            <div class="col-md-12 ">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="123 mainrod area " required>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <label for="state" class="form-label">Select State</label>
                    <select class="form-select" id="state" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Karnataka</option>
                        <option>Maharastra</option>
                        <option>Kerala</option>
                        <option>Tamilnadu</option>
                        <option>Panjab</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" placeholder="city name" required>
                </div>
                <div class="col-md-4">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" pattern="[0-9]{6}" placeholder="123-456" id="zip" required>
                </div>
            </div>


            <hr>
            <div class="center mt-2 ">

                <button type="submit" class="btn btn-outline-warning  w-25">Submit</button>
            </div>




        </form>
    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/jquery/dist/jquery.session.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<!-- <script defer src="../MyScripts/main.js"></script>
<script src="../MyScripts/from_1_stu_details.js"></script> -->
<script>
    function displayImage(event) {
        var image = document.createElement("img");
        image.src = URL.createObjectURL(event.target.files[0]);
        image.style.width = "100%";
        image.style.height = "100%";
        var container = document.getElementById("displayImageContainer");
        container.innerHTML = "";
        container.appendChild(image);
    }

</script>

</html>