<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
    <title>Document</title>

</head>

<body>



    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" title="colege name" href="#">SGBIT</a>
            <div class="center">

                <div class="nav-item center list-group-item m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle m-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                    <a class="nav-link" href="#" id="user">
                        Guest</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../Components/home_page.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item " id="admin">
                            <a class="nav-link" href="../Components/adminpannel.html">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/admission.html">Admission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="feesPayment" href="../Components/get_1_fees_details.html">Fees
                                Payment</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="login_nav">
                            <a class="nav-link" aria-disabled="true" id="log" aria-current="page"
                                href="../Components/login.html">Login</a>
                        </li>
                        <li class="nav-item" id="sign_up_nav">
                            <a class="nav-link" href="../Components/sign_up.html">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item" id="logout_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <div class="main_cont  main_body">
        <div class="logo">
            <img class="img-fluid" src="../images/Sgbitlogo.png" alt="logo">
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid w-100 " src="../images/car_2.jpeg" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid w-100 " src="https://www.comedk.org/uploads/sgbit-img-1.jpg"
                        class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid w-100 " src="../images/background.jpeg" class="d-block w-100" alt="Image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden ">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>

        <div class="RECRUITERS">
            <h1 class="text-center h1">RECRUITERS</h1>
            <hr>
            <div class="squares">

                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_1.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_2.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_3.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_4.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_5.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_6.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_7.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_8.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_9.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_10.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_11.jpg" alt="logo">
                </div>
                <div class="square">
                    <img class="img-fluid rounded" src="../images/rec_12.jpg" alt="logo">
                </div>

            </div>
        </div>
        <br>
        <hr>
        <br>



        <h1 class="text-center">OUR COURSES</h1>
        <hr>
        <div class="courses">
            <div class="course">
                <img class="rounded" src="../images/cse.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">Computer Science & Enggineering </b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/mech.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;"> Mechanical Enggineering </b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/EE.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">E & E Enggineering </b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/civil.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">Civil Enggineering </b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/ec.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">E & C Enggineering </b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/ai.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">Airtificial Inteligence & Machine Learning </b></h4>
                </div>
            </div>

            <div class="course">
                <img class="rounded" src="../images/csbs.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">Computer Science And Business System</b></h4>
                </div>
            </div>
            <div class="course">
                <img class="rounded" src="../images/mech.jpg" alt="">
                <div class="text">
                    <h4> <b style="font-size: 12px;">M.Tech Structural Enggineering</b></h4>
                </div>
            </div>

        </div>

        <hr>
        <div style="background-color: rgb(15, 15, 75);" class="footer-copyright text-center text-light p-2">
            <p>&copy; 2020 SG Balekundri Institute of Technology, Belagavi. <br>All Rights Reserved. <br> Powered By:
                Aptra
                Technologies Pvt Ltd.</p>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.session.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <!-- <script src="../MyScripts/main.j   s"></script> -->
    <script>

    </script>
</body>

</html>