<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Mystyles/beautify.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" title="colege name" href="#">SGBIT</a>
            <div class="center">
                <div class="nav-item center list-group-item m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle m-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg><a class="nav-link" href="#" id="user">Guest</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../Components/home_page.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="admission" href="../Components/admission.html">Admission</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="login_nav">
                            <a class="nav-link d-none" aria-disabled="true" aria-current="page"
                                href="../Components/login.html">Login</a>
                        </li>
                        <li class="nav-item d-none" id="sign_up_nav">
                            <a class="nav-link" href="../Components/sign_up.html">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item" id="logout_nav">
                            <a class="nav-link" aria-disabled="true" aria-current="page" href="#" id="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div class="container-fluid main_body glass_blur">
        <form id="stuDetails_1" class="form-control m-0 p-1 row g-3  border ">
            <div class="container-fluid m-1 ">
                <h4 class="h5 text-decoration-underline p-1 text-danger text-center">DECLARATION BY THE CANDIDATE /
                    PARENT</h4><br>
                <div class="lh-base ">
                    <ol>
                        <li>
                            I <input type="text" class="form-control w-25 m-1 d-inline " placeholder="Name of Parent"
                                required> the parent of the applicant
                            shall be responsible for the payment of tees and dues if any outstanding. I shall be
                            responsible the parent of the applicant for his/her conduct behavior during the period of
                            studies in the Institute, I shall also agree to the condition that my ward will not leave
                            the course in meddle nor will he/she apply for transfer. In such an eventually I shall make
                            good financial obligation to the Institute.
                        </li><br>
                        <li>
                            I hereby agree to abide by the rules and regulations of the Institute/university and I
                            undertake that so long as I am a student of the Institute, I shall do nothing either inside
                            or outside the Institute that will bring down the reputation of the Institute.

                        </li><br>
                        <li>
                            I hereby agree to make good for any loss or damage to books, apparatus furniture and other
                            article belonging to the Institute which may caused by my carelessness or negligence on my
                            part.
                        </li><br>
                        <li>
                            I hereby agree that, I shall pay full fees prescribed for the course at the time of
                            admission and for each subsequent admission in II, III, IV year of BE Program periodically
                            and also other fees such as examination fees etc., whenever the notification is made by the
                            Institute authorities.
                        </li><br>
                        <li>
                            If admitted, I shall produce the migration certificate from my university / Board where I
                            have studied last. I shall produce the Transfer Certificate before the prescribed date.
                            Obtaining eligibility certificate from Visvesvaraya Technology University, Belagavi, is
                            solely my responsibility.
                        </li><br>
                        <li>
                            I have carefully read the application and I accept to abide by the terms and conditions
                            mentioned therein and make no claims against the Institute or society.
                        </li><br>
                        <li>
                            I hereby undertake that I will meet the attendance requirements as prescribed by the
                            University.
                        </li><br>
                        <li>
                            Minimum percentage of attendance prescribed by the University is 85% or as may be prescribed
                            by the university from time to time. The students who fall short of attendance will be
                            detained.
                        </li><br>
                        <li>
                            Indulging in ragging in the campus & hostel punishable according to Law.
                        </li><br>
                        <li>
                            I personally visited the campus & I am satisfied with the infrastructure, and other
                            facilities in the campus. So, I am willing to take admission in your institute.
                        </li>
                    </ol>
                    <br>
                </div>

                <div class="d-flex justify-content-around">
                    <span>Date : <input type="text" id="date" readonly class="form-check-label"></span></span>
                    <span id="place">Place :</span>
                    <span>
                        <div class="col-md-12">
                            <label for="year" class="form-label">Year</label>
                            <select class="form-select" id="year" required>
                                <option selected disabled value="">Choose...</option>
                                <option>First</option>
                                <option>Second</option>
                                <option>Third</option>
                                <option>Fourth</option>
                            </select>
                        </div>
                    </span>
                </div>
                <br>
                <div class="col-12  d-flex align-items-center justify-content-center">
                    <div class="form-check  ">
                        <input class=" border border-secondary rounded form-check-input" onclick="getDate()"
                            type="checkbox" value="" id="checkBox" required>
                        <label class="form-check-label" for="checkBox">
                            Agree to terms and conditions
                        </label>
                    </div>

                </div>
                <hr>
                <div class="center">
                    <button class="btn btn-outline-warning " id="submit"><a>Submit</a></button>
                </div>
                <hr>
        </form>


    </div>

</body>
<script src=" ../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/jquery/dist/jquery.session.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<!-- <script src="../MyScripts/main.js"></script> -->
<!-- <script src="../MyScripts/verify.js"></script> -->
<script>



    function getDate() {
        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").value = "" + y + "/" + m + "/" + d;
        document.getElementById("place").innerHTML = "Place : Belagavi";
        document.getElementById("checkBox").value = "Set";
        sessionStorage.setItem("fourth_step", "true")
    }
</script>


</html>