<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6  col-sm-4 col-lg-2 col-xl-2 ftr-colm1" style="max-width: 100%;">
          <h3>
            Useful Links
          </h3>
          <ul>
            <li><a href="http://www.sgbit.edu.in/Home/admission" target="_blank">Admission Procedure</a></li>
            <!--<li><a href="http://www.sgbit.edu.in/Home/whocanapply" target="_blank">Who can apply?</a></li>-->
            <li><a href="http://www.sgbit.edu.in/Home/governing" target="_blank">Governing Council</a></li>
          </ul>
        </div>
        <div class="col-6  col-lg-2 col-xl-2" style="max-width: 100%;">
          <h3>&nbsp;</h3>
          <ul>
            <li><a href="http://www.sgbit.edu.in/Home/president" target="_blank">The President</a></li>
            <li><a href="#">Campus</a></li>
            <li><a href="http://www.sgbit.edu.in/Home/scholarship">Scholarship</a></li>
          </ul>
        </div>
        <div class="col-6  col-lg-2 col-xl-2" style="max-width: 100%;">
          <h3>&nbsp;</h3>
          <ul>
            <li><a href="http://www.sgbit.edu.in/files/newsletter/News_Letter_2019-20.pdf" target="_blank">News
                Letter</a></li>
            <!--<li><a href="#">Internships Offered</a></li>-->
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 ftr-colm2" style="max-width: 100%;">
          <h3>
            Follow Us
          </h3>
          <ul class="social-media">
            <li><a href="https://twitter.com/BelagaviSgbit" target="_blank"><i class="fa fa-twitter">
                </i></a>
            </li>
            <li><a href="https://www.facebook.com/SGBITBelagavi/?modal=suggested_action&amp;notif_t=page_user_activity"
                target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/sgbit_official/?hl=en" target="_blank"><i
                  class="fab fa-instagram"></i></a>
            </li>
            <li><a href="https://www.flickr.com/photos/sgbit" target="_blank"><i class="fab fa-flickr"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/sgbit-belagavi-40028020a" target="_blank"><i
                  class="fab fa-linkedin"></i></a>
            </li>
          </ul>
          <h4>
            Copyright ©2020 SG Balekundri Institute of Technology, Belagavi. All Rights Reserved
          </h4>
          <p class="sterco">
            Powered By: <a href="https://www.aptratechnologies.com/" target="_blank">Aptra Technologies Pvt Ltd.</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>